* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: 'Verdana', sans-serif;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  background-color: #30a31e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 3rem;
}
nav {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #30a31e;
  padding: 1rem;
}
.nav-links {
  font-family: 'Permanent Marker', cursive;
  margin-left: 3rem;
  color:white;
  font-size: large;
  text-decoration: none;
}
#landing-img {
    min-width: 100%;
    height: 30rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
#landing-img:hover h1 {
  color: #fff;
}
h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 12rem;
    z-index: 1;
    color:rgb(48, 163, 30);
    text-shadow: 1px 1px 0px #0f5a13;
}
main {
  flex: 1 0 auto;
}
h2 {
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: x-large;
}
video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
hr {
  border-top: 1.5rem solid #30a31e;
}
 footer {
  background-color: #30a31e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:1rem 3rem;
  flex-shrink: 0;
} 
.nav-links-f {
  font-family: 'Permanent Marker', cursive;
  color:white;
  text-decoration: none;
}
p {
  font-family: 'Permanent Marker', cursive;
  color:white;
}
.card1 {
  height: 30rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
}
.sub-card1 {
  background-color: rgb(48, 163, 30);
  text-align: right;
  padding: 0.5em 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
/* actions & issues */

.row {
  display: flex;
  justify-content: space-evenly;
}
.card {
  height: 30rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
}
.card:hover img {
  border: 0.24rem solid #30a31e;
  opacity: 50%;
}
.card:hover .sub-card {
  background-color: white;
  border-left: 0.24rem solid #30a31e;
  border-bottom: 0.24rem solid #30a31e;
  border-right: 0.24rem solid #30a31e;
}
.card:hover h2 {
  color: #30a31e;
}
.sub-card {
  background-color: rgb(48, 163, 30);
  text-align: right;
  padding: 0.5em 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
img {
  object-fit: contain;
  border-radius: 0.5rem 0.5rem 0 0;
}


/* donate */

#table-container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  padding:0 2rem;
}
#table-header {
  color:#30a31e;
  font-size: 3rem;
}
table {
  border-collapse: collapse;
  width: 100%;
  font-family: 'Permanent Marker', cursive; 
  text-align: left;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
th {
  font-family: 'Permanent Marker', cursive; 
  background-color: #30a31e;
  font-size: 3.5rem;
  color: #fff;
  padding: 2rem 2rem;
  letter-spacing: 0.5rem;
  border-right: 0.15rem solid #30a31e;
  border-left: 0.15rem solid #30a31e; 
}
td {
  font-size: 1.5rem;
  padding: 0.25rem 2rem;
  border-bottom: 0.15rem solid #30a31e;
  border-right: 0.15rem solid #30a31e;
  border-left: 0.15rem solid #30a31e;
  font-weight: bold;
}
ul {
  padding: 0 1rem;
}
button {
  color:#fff;
  background-color: #30a31e;
  border: none;
  font-family: 'Permanent Marker', cursive;
  padding: 0.5rem 0.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}
button:hover {
  background-color:#0f5a13;
}

/* signup */

form {
  text-align: left;
  display: flex;
  flex-direction:column;
  justify-content:space-evenly;
  background-color: rgb(48, 163, 30);
  padding: 1rem 1rem;
  border-radius: 1rem;
}
label {
  font-family: 'Permanent Marker', cursive;
  color:white;
}
input {
  border-radius: 0.75rem;
  margin: 1rem 1rem;
  padding: 0.5rem 1rem;
  font-family: 'Permanent Marker', cursive;  
}
.card:hover .form-title {
  color: #ffffff;
}
.submit {
  background-color: #fff
}
.submit:hover {
  background-color:#0f5a13;
  color: #fff;
}