* {
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  font-family: 'Verdana', sans-serif;
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  background-color: #30a31e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:0 3rem;
}
nav {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #30a31e;
  padding: 1rem;
}
.nav-links {
  font-family: 'Permanent Marker', cursive;
  margin-left: 3rem;
  color:white;
  font-size: large;
  text-decoration: none;
}
#landing-img {
    min-width: 100%;
    height: 30rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 12rem;
    z-index: 1;
    color:rgb(48, 163, 30);
    text-shadow: 1px 1px 0px #0f5a13;

}
main {
  flex: 1 0 auto;
}
h2 {
  color: white;
  font-family: 'Permanent Marker', cursive;
  font-size: x-large;
}
video {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
hr {
  border-top: 1px solid #30a31e;
}

 footer {
  background-color: #30a31e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:1rem 3rem;
  flex-shrink: 0;
  
} 
.nav-links-f {
  font-family: 'Permanent Marker', cursive;
  color:white;
  text-decoration: none;
}

/* issues */

.row {
  display: flex;
  justify-content: space-evenly;
}
.card {
  height: 30rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 2rem;
}
.card:hover img {
  border: 0.24rem solid #30a31e;
  opacity: 50%;
}
.card:hover .sub-card {
  background-color: white;
  border-left: 0.24rem solid #30a31e;
}
.card:hover h2 {
  color: #30a31e;
}
.sub-card {
  background-color: rgb(48, 163, 30);
  text-align: right;
  padding: 0.5em 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}

img {
  object-fit: contain;
  border-radius: 0.5rem 0.5rem 0 0;
}

form {
  text-align: left;
  display: flex;
  flex-direction:column;
  justify-content:space-evenly;
  background-color: rgb(48, 163, 30);
  padding: 1rem 1rem;
  border-radius: 1rem;
}
label {
  font-family: 'Permanent Marker', cursive;
  color:white;
}
input {
  border-radius: 0.75rem;
  margin: 1rem 1rem;
  padding: 0.5rem 1rem;
  font-family: 'Permanent Marker', cursive;  
}